<div class="bg-gray-800 w-1/4 p-6 m-auto">
    <div class="grid grid-rows-5 gap-4">
        <div class="grid grid-cols-7 gap-4">
            <p class="col-span-6 bg-gray-300 text-gray-600 p-3">{{inputData}}</p>
            <button class="col-span-1 text-white bg-red-400" (click)="remove()">C</button>
        </div>
        <div class="grid grid-cols-7 gap-4 text-white">
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('1')">1</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('2')">2</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('3')">3</button>
            <button class="col-span-1 bg-violet-800" (click)="onChange('/')">/</button>
        </div>
        <div class="grid grid-cols-7 gap-4 text-white">
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('4')">4</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('5')">5</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('6')">6</button>
            <button class="col-span-1 bg-violet-800" (click)="onChange('+')">+</button>
        </div>
        <div class="grid grid-cols-7 gap-4 text-white">
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('7')">7</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('8')">8</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('9')">9</button>
            <button class="col-span-1 bg-violet-800" (click)="onChange('-')">-</button>
        </div>
        <div class="grid grid-cols-7 gap-4 text-white">
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('.')">.</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="onChange('0')">0</button>
            <button class="bg-violet-800 col-span-2 rounded-lg" (click)="calculate()">=</button>
            <button class="col-span-1 bg-violet-800" (click)="onChange('*')">*</button>
        </div>
    </div>
</div>