<header class="bg-white">
    <div class="hidden md:block">
        <nav aria-label="Global">
            <ul class="flex items-center gap-6 text-sm">
                <li>
                    <a class="text-gray-500 transition hover:text-gray-500/75" routerLink="demo2">
                        Demo1
                    </a>
                </li>

                <li>
                    <a class="text-gray-500 transition hover:text-gray-500/75" routerLink="demo1">
                        Demo2
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>